[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Icon=com.jetbrains.datagrip
Exec=/opt/apps/com.jetbrains.datagrip/files/bin/datagrip.sh %u
Categories=Development;IDE;
StartupWMClass=jetbrains-datagrip
Comment=The IDE for databases and SQL.
StartupNotify=true
Terminal=false
