[Desktop Entry]
Encoding=UTF-8
Name=Krita
Name[af]=Krita
Name[ar]=\u0643\u0631\u064a\u062a\u0627
Name[bg]=Krita
Name[br]=Krita
Name[bs]=Krita
Name[ca]=Krita
Name[ca@valencia]=Krita
Name[cs]=Krita
Name[cy]=Krita
Name[da]=Krita
Name[de]=Krita
Name[el]=Krita
Name[en_GB]=Krita
Name[eo]=Krita
Name[es]=Krita
Name[et]=Krita
Name[eu]=Krita
Name[fi]=Krita
Name[fr]=Krita
Name[fy]=Krita
Name[ga]=Krita
Name[gl]=Krita
Name[he]=Krita
Name[hi]=\u0915\u0947\u0930\u093f\u0924\u093e
Name[hne]=\u0915\u0947\u0930\u093f\u0924\u093e
Name[hr]=Krita
Name[hu]=Krita
Name[ia]=Krita
Name[is]=Krita
Name[it]=Krita
Name[ja]=Krita
Name[kk]=Krita
Name[ko]=Krita
Name[lt]=Krita
Name[lv]=Krita
Name[mr]=\u0915\u094d\u0930\u093f\u091f\u093e
Name[ms]=Krita
Name[nb]=Krita
Name[nds]=Krita
Name[ne]=\u0915\u094d\u0930\u093f\u0924\u093e
Name[nl]=Krita
Name[nn]=Krita
Name[pl]=Krita
Name[pt]=Krita
Name[pt_BR]=Krita
Name[ro]=Krita
Name[ru]=Krita
Name[se]=Krita
Name[sk]=Krita
Name[sl]=Krita
Name[sv]=Krita
Name[ta]=\u0b95\u0bbf\u0bb0\u0bbf\u0b9f\u0bcd\u0b9f\u0bbe
Name[tg]=Krita
Name[tr]=Krita
Name[ug]=Krita
Name[uk]=Krita
Name[uz]=Krita
Name[uz@cyrillic]=Krita
Name[wa]=Krita
Name[xh]=Krita
Name[x-test]=xxKritaxx
Name[zh_CN]=Krita
Name[zh_TW]=Krita
Exec=/opt/apps/org.krita.krita/files/bin/AppRun %F
GenericName=Digital Painting
GenericName[ar]=\u0631\u0633\u0645 \u0631\u0642\u0645\u064a\u0651
GenericName[bs]=Digitalno Bojenje
GenericName[ca]=Dibuix digital
GenericName[ca@valencia]=Dibuix digital
GenericName[cs]=Digit\u00e1ln\u00ed malov\u00e1n\u00ed
GenericName[da]=Digital tegning
GenericName[de]=Digitales Malen
GenericName[el]=\u03a8\u03b7\u03c6\u03b9\u03b1\u03ba\u03ae \u03b6\u03c9\u03b3\u03c1\u03b1\u03c6\u03b9\u03ba\u03ae
GenericName[en_GB]=Digital Painting
GenericName[es]=Pintura digital
GenericName[et]=Digitaalne joonistamine
GenericName[eu]=Margolan digitala
GenericName[fi]=Digitaalimaalaus
GenericName[fr]=Peinture num\u00e9rique
GenericName[gl]=Debuxo dixital
GenericName[hi]=\u0921\u093f\u091c\u093f\u091f\u0932 \u091a\u093f\u0924\u094d\u0930\u0915\u093e\u0930\u0940
GenericName[hu]=Digit\u00e1lis fest\u00e9szet
GenericName[ia]=Pintura Digital
GenericName[it]=Pittura digitale
GenericName[ja]=\u30c7\u30b8\u30bf\u30eb\u30da\u30a4\u30f3\u30c6\u30a3\u30f3\u30b0
GenericName[kk]=\u0426\u0438\u0444\u0440\u043b\u044b\u049b \u0441\u0443\u0440\u0435\u0442 \u0441\u0430\u043b\u0443
GenericName[ko]=\ub514\uc9c0\ud138 \ud398\uc778\ud305
GenericName[lt]=Skaitmeninis pie\u0161imas
GenericName[mr]=\u0921\u093f\u091c\u093f\u091f\u0932 \u092a\u0947\u0902\u091f\u093f\u0902\u0917
GenericName[nb]=Digital maling
GenericName[nl]=Digitaal schilderen
GenericName[nn]=Digital teikning
GenericName[pl]=Malowanie cyfrowe
GenericName[pt]=Pintura Digital
GenericName[pt_BR]=Pintura digital
GenericName[ru]=\u0426\u0438\u0444\u0440\u043e\u0432\u0430\u044f \u0436\u0438\u0432\u043e\u043f\u0438\u0441\u044c
GenericName[sk]=Digit\u00e1lne ma\u013eovanie
GenericName[sl]=Digitalno slikanje
GenericName[sv]=Digital m\u00e5lning
GenericName[tr]=Say\u0131sal Boyama
GenericName[ug]=\u0633\u0649\u0641\u0649\u0631\u0644\u0649\u0642 \u0631\u06d5\u0633\u0649\u0645 \u0633\u0649\u0632\u063a\u06c7
GenericName[uk]=\u0426\u0438\u0444\u0440\u043e\u0432\u0435 \u043c\u0430\u043b\u044e\u0432\u0430\u043d\u043d\u044f
GenericName[x-test]=xxDigital Paintingxx
GenericName[zh_CN]=\u6570\u5b57\u7ed8\u753b\u7a0b\u5e8f
GenericName[zh_TW]=\u6578\u4f4d\u7e6a\u756b
MimeType=application/x-krita;image/openraster;application/x-krita-paintoppreset;
Comment=Digital Painting
Comment[ar]=\u0631\u0633\u0645 \u0631\u0642\u0645\u064a\u0651
Comment[bs]=Digitalno Bojenje
Comment[ca]=Dibuix digital
Comment[ca@valencia]=Dibuix digital
Comment[cs]=Digit\u00e1ln\u00ed malov\u00e1n\u00ed
Comment[da]=Digital tegning
Comment[de]=Digitales Malen
Comment[el]=\u03a8\u03b7\u03c6\u03b9\u03b1\u03ba\u03ae \u03b6\u03c9\u03b3\u03c1\u03b1\u03c6\u03b9\u03ba\u03ae
Comment[en_GB]=Digital Painting
Comment[es]=Pintura digital
Comment[et]=Digitaalne joonistamine
Comment[eu]=Margolan digitala
Comment[fi]=Digitaalimaalaus
Comment[fr]=Peinture num\u00e9rique
Comment[gl]=Debuxo dixital.
Comment[hi]=\u0921\u093f\u091c\u093f\u091f\u0932 \u091a\u093f\u0924\u094d\u0930\u0915\u093e\u0930\u0940
Comment[hu]=Digit\u00e1lis fest\u00e9szet
Comment[ia]=Pintura Digital
Comment[it]=Pittura digitale
Comment[ja]=\u30c7\u30b8\u30bf\u30eb\u30da\u30a4\u30f3\u30c6\u30a3\u30f3\u30b0
Comment[kk]=\u0426\u0438\u0444\u0440\u043b\u044b\u049b \u0441\u0443\u0440\u0435\u0442 \u0441\u0430\u043b\u0443
Comment[ko]=\ub514\uc9c0\ud138 \ud398\uc778\ud305
Comment[lt]=Skaitmeninis pie\u0161imas
Comment[mr]=\u0921\u093f\u091c\u093f\u091f\u0932 \u092a\u0947\u0902\u091f\u093f\u0902\u0917
Comment[nb]=Digital maling
Comment[nl]=Digitaal schilderen
Comment[nn]=Digital teikning
Comment[pl]=Malowanie cyfrowe
Comment[pt]=Pintura Digital
Comment[pt_BR]=Pintura digital
Comment[ru]=\u0426\u0438\u0444\u0440\u043e\u0432\u0430\u044f \u0436\u0438\u0432\u043e\u043f\u0438\u0441\u044c
Comment[sk]=Digit\u00e1lne ma\u013eovanie
Comment[sl]=Digitalno slikanje
Comment[sv]=Digitalt m\u00e5lningsverktyg
Comment[tr]=Say\u0131sal Boyama
Comment[ug]=\u0633\u0649\u0641\u0649\u0631\u0644\u0649\u0642 \u0631\u06d5\u0633\u0649\u0645 \u0633\u0649\u0632\u063a\u06c7
Comment[uk]=\u0426\u0438\u0444\u0440\u043e\u0432\u0435 \u043c\u0430\u043b\u044e\u0432\u0430\u043d\u043d\u044f
Comment[x-test]=xxDigital Paintingxx
Comment[zh_CN]=\u81ea\u7531\u5f00\u6e90\u7684\u4e13\u4e1a\u6570\u5b57\u7ed8\u753b\u7a0b\u5e8f
Comment[zh_TW]=\u6578\u4f4d\u7e6a\u756b
Type=Application
Icon=krita
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-KDE-NativeMimeType=application/x-krita
X-KDE-ExtraNativeMimeTypes=
StartupNotify=true
X-Krita-Version=28
StartupWMClass=krita
InitialPreference=99
