[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate
Icon=com.jetbrains.intellij-idea-ultimate
Exec=/opt/apps/com.jetbrains.intellij-idea-ultimate/files/bin/idea.sh %u
Categories=Development;IDE;
StartupWMClass=jetbrains-idea
Comment=The most intelligent Java IDE.
StartupNotify=true
Terminal=false
