[Desktop Entry]
Version=1.1
Type=Application
Name=Eclipse IDE for Java Developers
Icon=eclipse-java
Exec=/opt/apps/org.eclipse.eclipse-java/files/eclipse %u
Categories=Development;IDE;
Comment=Eclipse IDE for Java Developers
StartupWMClass=Eclipse
StartupNotify=true
Terminal=false
