[Desktop Entry]
Version=1.1
Type=Application
Name=Eclipse IDE for RCP and RAP Developers
Icon=eclipse-rcp
Exec=/opt/apps/org.eclipse.eclipse-rcp/files/eclipse %u
Categories=Development;IDE;
Comment=Eclipse IDE for RCP and RAP Developers
StartupWMClass=Eclipse
StartupNotify=true
Terminal=false
