[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=PDFsam Basic
Comment=Open source desktop application to split, merge, rotate and mix PDF files
Exec=/opt/apps/org.pdfsam.pdfsam/files/bin/pdfsam.sh %F
Path=/opt/apps/org.pdfsam.pdfsam/files
Icon=pdfsam
MimeType=application/pdf
Terminal=false
Categories=Office;
