[Desktop Entry]
Version=1.0
Type=Application
Name=LRF Viewer
GenericName=Viewer for LRF files
Comment=Viewer for LRF files (SONY ebook format files)
TryExec=/opt/apps/com.calibre-ebook.calibre/files/lrfviewer
Exec=/opt/apps/com.calibre-ebook.calibre/files/lrfviewer %f
Icon=calibre-viewer
MimeType=application/x-sony-bbeb;
Categories=Graphics;Viewer;
