[Desktop Entry]
Version=1.0
Type=Application
Name=DataSpell
Icon=com.jetbrains.dataspell
Exec=/opt/apps/com.jetbrains.dataspell/files/bin/dataspell.sh %u
Categories=Development;IDE;
StartupWMClass=jetbrains-spell
Comment=The IDE for Professional Data Scientists.
StartupNotify=true
Terminal=false